body {
  margin: 0 300px;
  font-family: helvetica;
}

.accordion {
  color: #fff;
  background-color: #57c3d3;
  padding: 10px 10px;
  outline: 1px solid #5db7c5;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 740px;
  text-align: left;
  transition: 0.4s;
  font-size: 12px;
}

.active,
.accordion:hover {
  cursor: pointer;
  background-color: #1edaf7;
}

.panel {
  border: 1px solid #57c3d3;
  padding: 0 18px;
  margin-left: -1px;
  font-size: 14px;
  background-color: white;
  width: 724px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  color: #898e9c;
}

h3 {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }
}
